<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Biografia</title>
    <link rel="stylesheet" href="/public/css/biografia.css" />
  </head>
  <body>
    <header>
      <a href="/index.html">Rafael Lechowski</a>
    </header>
    <h2>Cantante, poeta, compositor.</h2>
    <p>
      Aunque cada vez es más difícil definir su estilo —raro híbrido entre
      poesía, jazz, rap y slam—, <strong>Rafael Lechowski</strong> es considerado uno de los
      letristas más importantes de habla hispana en su género: su voz resuena
      cada vez más fuerte, ejerciendo una notable influencia tanto en España
      como en Latinoamérica. Debutó con tan sólo 17 años, y fue nombrado Joven
      promesa del arte nacional por el Diario El País, en 2004. No obstante, la
      crítica no escatimó en laureles al incluirlo en el año 2007 entre los
      mejores de Europa por su álbum Donde duele, inspira. En 2014 publicó Larga
      brevedad, obra que se mantuvo 18 semanas consecutivas entre los libros más
      vendidos de todos los géneros en las listas nacionales y cosechó
      excelentes críticas de la prensa especializada. En 2015 representó a
      España en el Festival Internacional de Poesía de Medellín, y colaboró con
      las Nuevas Voces del Movimiento Poético Mundial (World poetry movement).
      Quarcissus: el arte de desamar (2009-2018), es su obra más ambiciosa, de
      género difícil de catalogar, donde conjuga la música, la literatura y el
      teatro, y en la cual ha trabajado durante nueve años para poder
      culminarla. Este trabajo ha sido interpretado por músicos de la talla de
      Marco Mezquida, Mikel Andueza, Gonzalo del Val o Luis Giménez. Quarcissus:
      el arte de desamar ha superado la cifra de 10.000 ejemplares vendidos, y
      es considera un acontecimiento artístico importante en la música y en las
      letras castellanas del siglo XXI.<br><br> La mirada artística de Lechowski está
      marcada por la preocupación por el Ser, la ansiedad del tiempo moderno, la
      religiosidad sin dios y el amor como sentido vital. Su palabra se
      distingue por su profundidad pero también por su cercanía; oscura pero
      transparente, áspera pero de gran sensibilidad. Su música y su literatura
      han llenado los principales escenarios de España y Latinoamérica, y
      canciones como Por amor al odio alcanzan la cifra de 13 millones de
      reproducciones en plataformas como Youtube o 5 millones en Spotify.<br><br> Su
      último disco se título: EL CANTO DE AMOR A LA VIDA. Su sonido es un
      regreso al origen a la vez que el origen de algo completamente nuevo y
      propio. La obra es un profundo homenaje a la vida y a la grandeza de las
      cosas sencillas, y el que el autor considera como su trabajo más
      importante hasta la fecha. Dicho disco está arropado por músicos de
      renombre internacional como Marco Mezquida (pianista de Silvia Pérez
      Cruz), Ferran Savall (hijo de Jordi Savall y Monserrat Figueras), Anna
      Colom (corista de Rosalía), Gonzalo del Val o Luis Giménez, entre otros.<br><br>
      En el plano lírico, Rafael Lechowski está considerado como uno de los más
      grandes letristas de habla hispana en su género. El disco EL CANTO DE AMOR
      A LA VIDA salió a la luz el pasado 4 de enero y la crítica especializada
      lo ha señalado, automáticamente, como una de las grandes referencias para
      este año 2020.
    </p>
  </body>
</html>
