<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="public/css/contacto.css">
</head>
<body>
    <header>
      <a href="index.html">Rafael Lechowski</a>
    </header>
    <section class="formulario"> 
        <h1>Escribinos</h1><br>
        <input class="control" type="text" id="fname" name="fname" placeholder="Ingrese su nombre"><br><br>
        <input class="control" type="text" id="lname" name="lname" placeholder="Ingrese su apellido"><br><br>
        <textarea name="message" id="#" cols="44" rows="10"></textarea>
        <input class="boton" type="submit" value="Enviar">
    </section>
</body>
</html>
